
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.4;
}

.container {
    max-width: 950px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 30px;
}

.name-title h1 {
    margin-bottom: 10px;
    font-size: 28px;
}

.contact-info {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(183 72 39);
    color: white;

}

.contact-info p {
    padding-bottom: 0px !important;
    padding: 6px;


}

.main-content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.left-column {
    width: 65%;
    padding-right: 20px;
}

.right-column {
    width: 35%;
    padding-left: 20px;
    border-left: 2px solid #333;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    font-size: 20px;
    color: rgb(183 72 39);
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    letter-spacing: 1.5px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #444;
}

ul {
    margin-left: 20px;
    list-style-type: disc;
}

p {
    margin-bottom: 10px;
}

.degree,
.job {
    margin-bottom: 20px;
}

.degree h3,
.job h3 {
    font-size: 16px;
    color: rgb(183 72 39);
    letter-spacing: 0.5px;
}

.degree p,
.job p {
    margin-left: 20px;
    font-size: 14px;
letter-spacing: 1.2px;
}

.skills ul {
    padding-left: 20px;
    list-style-type: disc;
}

.job>ul>li {
    text-align: justify;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        width: 100%;
        padding: 0;
    }

    .right-column {
        border-left: none;
        border-top: 2px solid #333;
        padding-top: 20px;
    }
}
